*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.idea/workspace.xml
.idea/libraries/
.idea/gradle.xml
.idea/misc.xml
.idea/compiler.xml
.idea/modules.xml
.idea/kotlinc.xml
.idea/copyright/
.idea/vcs.xml
.idea/encodings.xml
.externalNativeBuild
.cxx
local.properties
